/* General */

.border-right{
    border-right: 2px solid #fff;
}

.color-primary{
    color: #001273;
}

.bg-primary{
    background-color: #001273;
}

.mr-5{
    margin-right: 5px;
}


/********************LEFT SIDE*********************/

/* Navbar left*/

.navbar {
  // position: relative;
  min-height: 120px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #001273;
  border-color: transparent;
}

.navbar-brand{
    padding: 10px 0;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  margin: 33px 5px;
  padding: 14px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #001273;
  background-color: #fff;
}

.btn-icons {
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
    transition: all .3s ease-in-out;
}

/* Content */

.bg-worldmap{
    background-image: url(../img/worldmap.png); 
    background-size: 100%;
    background-position: 0% 60%;
    background-repeat: no-repeat;
    height: 100vh;
}

.center-title{
    height: 100vh;
    position: relative;
    text-align: center;
}

.center-title h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
}

.center-title a{
    color: #fff;
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: 25px;
}



/********************RIGHT SIDE*********************/

/* Navbar right search */

.left-inner-addon {
    position: relative;
    margin: 33px 10px;
}

.left-inner-addon input {
    padding-left: 5px; 
    background-color: transparent;
    border-color: transparent;
    width: 95%;
    height: 50px;
    margin-left: 60px;
}

.left-inner-addon input:focus {
    background-color: #fff;
    border-color: transparent;
}

.left-inner-addon span {
    position: absolute;
    color: #fff;
}

.left-inner-addon i {
    padding: 14px; 
}
