/* General */

.border{
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 120px;
}

.color-primary{
    color: #001273;
}

.bg-primary{
    background-color: #001273;
}

.mr-5{
    margin-right: 5px;
}

.pd-0{
    padding: 0;
}
/********************LEFT SIDE*********************/

/* Navbar left*/

.navbar {
  // position: relative;
  min-height: 120px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default {
  background-color: #001273;
  border-color: transparent;
}

.navbar-brand{
    padding: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  margin: 33px 5px;
  padding: 14px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #001273;
  background-color: #fff;
}

.btn-icons {
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
    transition: all .3s ease-in-out;
}

/* Content */

.bg-worldmap{
    background-image: url(../img/worldmap.png); 
    background-size: 100%;
    background-position: 0% 60%;
    background-repeat: no-repeat;
    height: 100vh;
}

.center-title{
    height: 100vh;
    position: relative;
    text-align: center;
}

.center-title h1{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-40%, -50%);
    cursor: pointer;
}

.center-title a{
    color: #fff;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-size: 25px;
}


/********************RIGHT SIDE*********************/

/* Navbar right search */

.left-inner-addon {
    position: relative;
    margin: 33px 10px;
}

.left-inner-addon input {
    padding-left: 5px; 
    background-color: transparent;
    border-color: transparent;
    width: 90%;
    height: 50px;
    margin-left: 60px;
}

.left-inner-addon input:focus {
    background-color: #fff;
    border-color: transparent;
}

.left-inner-addon span {
    position: absolute;
    color: #fff;
}

.left-inner-addon i {
    padding: 14px; 
}

/* Content */

.right-side{
    position: fixed;
    top: 120px;
    left: 50%;
    bottom: 0;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

.city-content{
    text-align: center;
    border: solid 2px #fff;
    padding: 0;
    width: 50%;
    height: 340px;
    transition: all .3s ease-in-out;
}

.city-content:hover{
    background-color: #fff;
    color: #001273;
}

.city-img{
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.city1{
    background-image: url(../img/city1.png);
}

.city1:hover{
    background-image: url(../img/city1p.png);
    cursor: pointer;
}

.city2{
    background-image: url(../img/city2.png);
}

.city2:hover{
    background-image: url(../img/city2p.png);
    cursor: pointer;
}

.city3{
    background-image: url(../img/city3.png);
}

.city3:hover{
    background-image: url(../img/city3p.png);
    cursor: pointer;
}

.city4{
    background-image: url(../img/city4.png);
}

.city4:hover{
    background-image: url(../img/city4p.png);
    cursor: pointer;
}

.city5{
    background-image: url(../img/city5.png);
}

.city5:hover{
    background-image: url(../img/city5p.png);
    cursor: pointer;
}

.city6{
    background-image: url(../img/city6.png);
}

.city6:hover{
    background-image: url(../img/city6p.png);
    cursor: pointer;
}

.city-content h2{
    margin-top: 40px;
}

.city-content img{
    width: 200px;
    margin-top: 23px;
}

.city-content img:hover{
    color: #001273;
}



